@import "../../../../common/styles/fonts";

.step-description{
  .icons-list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dotted{
      width: 4px;
      height: 4px;
      border-radius: 50%;
      display: inline-block;
      background-color: #008FE8;
      opacity: 0.2;
    }

    .icon{
      @include font-medium();
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: inline-block;
      background-color: #45C0FF;
      color: #fff;
      font-size: 16px;
      opacity: 0.2;
      line-height: 34px;
      text-align: center;

      &.active{
        opacity:1;
      }
    }
  }

  .title{
    @include font-medium();
     font-size: 20px;
     color: #393939;
     line-height: 20px;
     margin: 20px 0 10px;
  }

  .description{
    @include font-light();
     font-size: 14px;
     color: #333334;
     line-height: 20px;
  }
}
