@import '../../../../common/styles/fonts';
@import '../../../../common/styles/common';
.cameo-painted-btns {
  height: 20px;
  // position: relative;
  // top: -20px;

  @include clearfix();
  .cp-btn {
    @include font-medium();
    display: none;
    font-size: 13px;
    color: #fff;
    border-radius: 2px;
    line-height: 20px;
    height: 20px;
    // width: 120px;
    padding: 0;
    text-align: center;
    // float: right;
    margin-left: 16px;
    width: initial;
    padding: 0 24px;
  }
  .cameo-btn {}
  .painted-text-btn {
    position:relative;
    cursor:pointer;
    display:block;
    font-family: "Gotham SSm A", "Gotham SSm B", Arial;
    font-style: normal;
    font-weight: 500;
    display: none;
    font-size: 13px;
    color: #fff;
    border-radius: 2px;
    line-height: 20px;
    height: 20px;
    width: 140px;
    padding: 0;
    text-align: center;
    // float: right;
    margin-left: 16px;
    box-sizing: border-box;
    background: #393939;
    border: none
  }
 .top-panel{
  position:absolute;
  left:0px;
  top:-20px;
  // height:49px;
  width:140px;
  z-index:1000;
  display:none;
  font-size: 12px;
  background:#fff;
  li{
    height:20px;
    width:140px;
    background:#3a3a3a;
    color:#fff;
    box-sizing: border-box;
    text-align:center;
    cursor:pointer;
    &:hover{
      background:#000;
    }
  }
}
  .show {
    display: inline-block;
  }
}
