@import "../../styles/fonts";

.x-order-reminder{
  position: relative;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  padding: 6px 0;
  border-bottom: 1px solid #F5F5F5;

  .tip{
    @include font-light();
    text-align: center;
  }

  .link-text{
    @include font-medium();
    text-align: center;
    cursor: pointer;
  }
}

