.warn-tip {
  position: absolute;
  left: 8px;
  bottom: 8px;
  display: none;
  z-index: 1;
  cursor: pointer;
  user-drag: none;
  user-select: none;
  background: url('./icon.svg') center no-repeat;
  width: 18px;
  height: 18px;
  &.show {
    display: block;
  }
}
