@import "../../../../common/styles/fonts";
@import "../../../../common/styles/common";
.page-number-icon {
  @include clearfix;
  margin: 0 auto 5px;
  .page-item {
    @include font-normal();
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: url(./icons/normal.svg) no-repeat;
    background-size: 18px 18px;

    &.disable,
    &.disable:hover{
      display: none;
    }

    &.active,
    &:hover {
      background-image: url(./icons/active.svg);
    }

    &.left-item {
      float: left;
    }
    &.right-item {
      float: right;
    }
  }
}
