@import "../../../../common/styles/fonts.scss";
@import "../../../../common/styles/common.scss";

.how-this-work-modal{
  width:552px;
  padding:40px;
  box-sizing:border-box;

  .content-wrap{
  }
  p{
    margin:0;
    padding:0;
    line-height:1;
  }

  .modal-title{
    @include font-light();
    font-size:24px;
    color:#3a3a3a;
  }
  .line-item{
     margin-top:12px;
    display: inline-block;
    .line-num{
      height:14px;
      width:14px;
      border-radius: 50%;
      background:#3A3A3A;
      color:#fff;
      text-align:center;
      font-size:12px;
      float: left;
      margin-top: 3px;
      margin-right: 8px;
    }
    .use-spec-content{
      @include font-light();
      font-size: 14px;
      color: #3A3A3A;
      line-height: 20px;
      float:left;
      width:440px;
   }


  }



  .modal-welcome{
    @include font-normal();
    margin-top:26px;
    font-size:13px;
    color:#3a3a3a;
  }

  .modal-step{
    @include font-medium();
    margin-top:30px;
    font-size:18px;
    color:#3a3a3a;
  }

  .modal-text{
    @include font-normal();
    margin-top:10px;
    margin-bottom:26px;
    font-size:12px;
    line-height:1.5;
  }

  .button-wrap{
    margin-top:38px;
    text-align:center;
  button{
      width:180px;
    }
    .little-button{
      with:180px;
      height:30px;
      font-size:13px;
      line-height:30px;
    }
  }
}
