@import "../../styles/fonts";

$color : #fff;
.x-add-text{
  @include font-normal();
  width: 120px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: $color;
  cursor: pointer;
  background: #393939;
  border-radius: 13px;
  background-size: cover;
  text-align: center;

  &:hover{
    background: #000;
  }
}
