@import "../../../../common/styles/common";
.multiple-action-bar {
  @include action-bar;
  width: 250px;

  .item-align-horizontal > a {
    background: url("./icons/align-horizontal.png") center center no-repeat;
  }

  .item-align-left > a {
    background: url("./icons/align-left.png") center center no-repeat;
  }

  .item-align-center > a {
    background: url("./icons/align-center.png") center center no-repeat;
  }

  .item-align-right > a {
    background: url("./icons/align-right.png") center center no-repeat;
  }

  .item-align-vertical > a {
    background: url("./icons/align-vertical.png") center center no-repeat;
  }

  .item-align-top > a {
    background: url("./icons/align-top.png") center center no-repeat;
  }

  .item-align-middle > a {
    background: url("./icons/align-middle.png") center center no-repeat;
  }

  .item-align-bottom > a {
    background: url("./icons/align-bottom.png") center center no-repeat;
  }

  .item-space > a {
    background: url("./icons/space.png") center center no-repeat;
  }

  .item-space-horizontal > a {
    background: url("./icons/space-horizontal.png") center center no-repeat;
  }

  .item-space-vertical > a {
    background: url("./icons/space-vertical.png") center center no-repeat;
  }

  .item-clear-all > a {
    background: url("./icons/clear-all.png") center center no-repeat;
  }

  .item-match-size > a {
    background: url("./icons/match-size.png") center center no-repeat;
  }

  .item-match-widest-width > a {
    background: url("./icons/match-widest-width.png") center center no-repeat;
  }

  .item-match-narrowest-width > a {
    background: url("./icons/match-narrowest-width.png") center center no-repeat;
  }

  .item-match-tallest-height > a {
    background: url("./icons/match-tallest-height.png") center center no-repeat;
  }

  .item-match-shortest-height > a {
    background: url("./icons/match-shortest-height.png") center center no-repeat;
  }

  .item-match-first-select-width-and-height > a {
    background: url("./icons/match-first-select-width-and-height.png") center center no-repeat;
  }

  .icon-item .sub-menu {
    margin-left: 4px;
  }
}
