.theme-pages {
  ul {
    width: 260px;
    li {
      cursor: pointer;
      width: 48.2%;
      min-height: 60px;
      background: #FFFFFF;
      border: 2px solid transparent;
      // margin-left: 10px;
      margin-bottom: 10px;
      padding: 4px;
      box-sizing: border-box;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
      display: inline-block;
      align-items: center;
      img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        filter: drop-shadow(0px 1px 1px #777);
      }

      &:nth-child(even){
        margin-left: 2%;
      }
    }
  }
  .no-pages {
    font-family: Gotham-Light;
    color:#7B7B7B;
    position: absolute;
    font-size:14px;
    top: 50%;
    text-align: center;
    left: 50%;
    width: 175px;
    transform: translate(-50%, -50%);
  }
}
