.upgrader-target-container{
       &>span{
        text-align: left;
        font-family: "Gotham SSm A", "Gotham SSm B", Arial;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #3a3a3a;
      }
}
