.preview-sheet-render {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  .pagination-wrap{
    background: #f0f0f0;

    padding: 10px 0;
    margin: -10px auto 0;

    .x-pagination{
      margin: 0 auto;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }
}
