.OptionItem {
  display: inline-block;
  width: 50%;
  margin-bottom: 15px;

  &.isImage {
    width: auto;
    margin-bottom: 0;
  }
}

.OptionItem__select {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  color: #7B7B7B;
  font-size: 13px;
  input {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.OptionItem__image {
  width: 38px;
  margin: 0 12px 12px 0;
  border: 1px solid transparent;
  cursor: pointer;
  &.isSelected {
    outline: 1px solid black;
  }
}