@import '../../../../common/styles/fonts.scss';

.shape-menu {
  margin-bottom: 60px;
  .menu-item {
    cursor: pointer;
    margin-bottom: 20px;
    &.selected,
    &.disabled {
      cursor: default;
    }
  }
  .menu-item-img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
    margin-bottom: 3px;
  }
  .menu-item-name {
    @include font-light();
    font-size: 10px;
    color: #7B7B7B;
    text-align: center;
    &.selected {
      color: #3A3A3A;
    }
    &.disabled {
      color: #CCCCCC;
    }
  }
  .x-tool-tip {
    white-space: nowrap;
  }
}