{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "printWidth": 80 }],
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/require-extension": 0,
    "comma-dangle": ["error", "never"],
    "arrow-body-style": 0,
    "global-require": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "new-cap": [
      2,
      {
        "capIsNewExceptionPattern": "^Immutable\\.."
      }
    ]
  }
}
