@import "../../../../common/styles/fonts.scss";
@import "../../../../common/styles/common.scss";

.side-bar {
  @include font-normal();
  @include reset-list();

  border-right: 1px solid rgba(232, 232, 232, 1);
  background: #F6F6F6;
  width: 280px;
  overflow-y: auto;
  .list {
    overflow: hidden;
    .item {
      @include font-light();
      width: 50%;
      height: 34px;
      padding: 9px;
      text-align: center;
      background-color: #fff;
      float: left;
      color: #7b7b7b;
      box-sizing: border-box;
      border-left: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
      font-size: 13px;
      line-height: 16px;
      cursor: pointer;

      &.active{
        @include font-medium();
        color: #3a3a3a;
        border-bottom: none;
        background-color: rgba(246, 246, 246, 1);
      }

      &:focus{
        outline: none;
      }
    }
  }

  .ReactTabs__TabPanel{
    padding-top: 10px;
  }
}
