.upload-button{
  position: relative;
  text-align: center;
  font-size: 14px;
  input{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:hover{
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

