@import "../../../../common/styles/fonts";

.bottons-wrap {
  display: inline-block;

  .landscape-button, .portrait-button {
    @include font-normal();
    display: inline-block;
    width: 120px;
    height: 26px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    line-height: 26px;
    text-align: center;
    border: 1px solid #393939;

    &:hover {
      background-color: #e1e1e1;
    }

    &.active {
      background-color: #393939;
      color: #fff;

      &:hover {
        background-color: #000;
      }
    }
  }

  .landscape-button {
    border-radius:14px 0 0 14px;
  }

  .portrait-button {
    border-radius:0 14px 14px 0;
    border-left: none;
  }
  .rotate_button {
    width: 22px;
    cursor: pointer;
  }
}
