.Loading {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(204, 204, 204, 0.8);
}

.Loading__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(50%, 50%, 0);
}

.Loading__circle {
  position: relative;
  width: 36px;
  height: 36px;
  display: inline-block;
  &:before, &:after {
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
    content: '';
    animation: .75s circle-scale infinite linear alternate;

    border: 3px solid #fff;
    border-radius: 100%;
  }
  &:before {
    margin: 2px;
    animation-delay: .35s;
  }
  &:after {
    width: 36px;
    height: 36px;
  }
}

@keyframes circle-scale
{
  0%
  {
    transform: scale(.2);
  }
  100%
  {
    transform: scale(1.2);
  }
}