@import "../../../../common/styles/fonts";

.order-title {
  @include font-light();
  font-size: 24px;
  color: #3a3a3a;
  margin-bottom: 22px;
}


.order-modal {
  width: 550px;
  padding: 40px;
  box-sizing: border-box;
}

.select-img {

  position: relative;
  top: 7px;
  width: 21px;
  height: 21px;
  box-sizing: border-box;

  margin-left: 10px;
  margin-right: 4px;
}


.volume-cover-span {
  display: inline-block;
  position: relative;
  top: 8px;
}

.select-all-row {
  height: 21px;
  width: 100%;
  position: relative;
  cursor: pointer;
  .select-all-img {

    float: left;
    width: 21px;
    height: 21px;
    box-sizing: border-box;

    margin-left: 10px;
    margin-right: 6px;
  }

  .select-all-font-medium {
    @include font-medium();
    font-size: 13px;
    color: #3A3A3A;
  }
  .select-all-font-normal {
    @include font-normal();
    font-size: 12px;
    color: #3A3A3A;
    margin-left: 6px;
  }
}

.volume-row {
  height: 48px;
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
  cursor: pointer;
  .font-medium {
    @include font-medium();
    font-size: 13px;
    color: #3A3A3A;
    margin-left: 14px;
  }
  .font-normal {
    @include font-normal();
    font-size: 12px;
    color: #3A3A3A;
    margin-left: 26px;
  }
}

.volume-row-no-order {
  height: 48px;
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
  
  .font-medium {
    @include font-medium();
    font-size: 13px;
    color: #3A3A3A;
    margin-left: 14px;
  }
  .font-normal {
    @include font-normal();
    font-size: 12px;
    color: #3A3A3A;
    margin-left: 26px;
  }
  .volume-row-disable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.7;
  }
}

.right-img {
  position: relative;
  float: right;
  top: 16px;
  right: 28px;
}

.button-wrap {
  margin-top: 30px;
  text-align: center;
  @include font-medium();
  font-size: 12px;
  .button {
    margin-right: 30px;
    line-height: 27px;
    height: 30px;
    width: 190px;
    &:last-child {
      margin-right: 0;
    }
  }
  .button-white {
    background: white;
    margin-right: 30px;
    height: 30px;
    line-height: 28px;
    color: #393939;
    border: 1px solid #7b7b7b;

    &:hover {
      background: #f0f0f0;
    }
  }
}

.upgrade-block {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
  .soft-block {
    float: left;
  }
  .hard-block {
    float: left;
  }
  .block-img {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
  }
  .soft-cover-title {
  	@include font-medium();
    font-size: 13px;
    color: #3A3A3A;
        margin-left: 15px;
  }
  .hard-cover-title {
  	@include font-medium();
    font-size: 13px;
    color: #3A3A3A;
        margin-left: 12px;
    float: left;
  }
  .additional-title {
  	@include font-light();
    font-size: 12px;
    color: #7b7b7b;
        float: left;
    margin-left: 18px;
  }
  .info-title {
  	@include font-light();
    font-size: 12px;
    color: #7b7b7b;
    transform: scale(0.83);
    transform-origin: left center;
        position: absolute;
    bottom: -16px;
    width: 260px;
  }

}
.softListClass{
  max-height: 192px;
  overflow-x: hidden;
  overflow-y: auto;
}

.hardListClass{
  max-height: 384px;
  overflow-x: hidden;
  overflow-y: auto;
}
.warning-tip{
  @include font-light();
  font-size: 12px;
  color: #DE3418;
  float: right;
  margin-top: 1px;
}