.book-cover-in-wrap {
  pointer-events:none;
  position: relative;
  position: absolute;
  top: 0;

  .cover-effect {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    background-color: #fff;

    // 修复bug: ASH-2971
    // "【H5 book】从LFB切换到FMA，metal cover时，book options和Edit page页面展览区显示黑线"
    background-position: 2px 2px;

    .effect-img {
      width: 100%;
      height: 100%;
      display: block;
      z-index: 2007;
      position: absolute;
      pointer-events: none;
      user-select: none;
    }
  }
  .cover-sheet {
    position: absolute;
    // overflow: hidden;
    .backgorund-element {
      // background: transparent;
    }
    .cover-sheet-with-bleed {
      position: absolute;
    }
    .book-page.enabled {
      background-color: #f6f6f6;
    }
  }
}
