@import '../../../../common/styles/fonts';
@import '../../../../common/styles/common';
.sort-options {
  width: 230px;
  position: absolute;
  left: 0px;
  top: 20px;
  background: #fff;
  z-index: 100;
  overflow: auto;
  font-size: 12px;
  border: 1px solid #ccc;

  .option-each {
    height: 36px;
    line-height: 38px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    display: block;
    color: #7b7b7b;
    background: #ffffff;
    @include font-light();

    &.active {
      color: #3a3a3a;
      @include font-medium();

      &:hover {
        @include font-medium();
      }
    }
    &:hover {
      background: #f0f0f0;
      color: #3a3a3a;
      @include font-normal();
    }
  }
}
