.element {
  position: absolute;
  box-sizing: border-box;

  .selected-border{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    pointer-events: none;
    top: 0;
    left: 0;
  }

  &.selected{
    .selected-border{
      border-color: #4CC1FC;
    }
  }

  .element-content {
    height: 100%;
    cursor: default;
    user-select: none;
  }
}
