html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  @include font-normal();
}

.cursor-p {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.overflow-h {
  overflow: hidden
}

.pointer-events-none {
  pointer-events: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ReactTabs__TabList {
  user-select: none;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
