.panel{
  .glyphicon{
    margin-right: 2px;
  }
  .radio-block {
  	margin: 10px 10px;
  }
  .button-block {
    margin-bottom: 10px;
    .btn{
      margin-right: 8px;
    }
  }
  .edit-controls {
    .btn {
      margin-right: 8px;
    }
  }
}
