@import "../../../../common/styles/fonts";

.manage-photos{
  padding: 0 58px 0 70px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background: #f0f0f0;

  .manage-photos-header {
    height: 50px;
    position:fixed;
    z-index: 1000;
    top: 76px;
    width: calc(100% - 140px);
    background:#f0f0f0;
  }
  .manage-photos-body {
    min-height: calc(100% - 50px);
    position: relative;
    margin-top: 52px;

    .manage-photos-list {
      display: flex;
      flex-wrap: wrap;

      &::after{
        content: '';
        flex-grow: 999999999;
      }

      &.hide {
        display: none ;
      }
    }
  }
  .manage-photos-count {
    @include font-light();
    font-size: 14px;
    color: #7B7B7B;
    line-height: 17px;
    display: inline-block;
    margin: 20px 24px 0 0;
    cursor: pointer;

    &.selected {
      @include font-medium();
      color: #3A3A3A;
      cursor: auto;
    }
  }
  .manage-photos-right {
    float: right;
    height: 50px;
    line-height: 50px;
  }
  .manage-photos-select-count {
    @include font-medium();
    font-size: 12px;
    color: #7B7B7B;
    line-height: 14px;
    margin-right: 24px
  }
  .manage-photos-button {
    @include font-normal();
    border-radius: 2px;
    width: 120px;
    height: 30px;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 30px;
  }
  .manage-photos-button-icon {
    margin-right: 8.2px;
    max-width: 10px;
    max-height: 14px;
  }
  .manage-photos-image-grid {
    // width: 140.921px;
    // height: 140.921px;
    float: left;
    margin: 0 12px 12px 0;
    cursor: pointer;
    .selectedIcon {
      display: none;
      position: absolute;
      right: 12px;
      bottom: 12px;
    }
    &.selected {
      .handler {
        background: rgba(255,255,255,0.70);
      }
      .selectedIcon {
        display: block;
      }
    }
  }
  .hide {
    display: none;
  }
  .clearfix {
    clear: both;
  }
  .manage-photos-empty {
    @include font-medium();
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: #7B7B7B;
    line-height: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
