.page-head{
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  .head-title {
  	text-align: right;
  	font-size: 24px;
  	font-weight: bold;
  }
}
